{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h1 align="center">Create Lab Entry</h1>
        <h2>Customer</h2>
        {{ customer|crispy }}
        <h2>Vehicle</h2>
        {{ vehicle|crispy }}
        <div class="form-group" align="right">
            <button class="btn btn-success mb-1" type="submit">Submit</button>
            <a href="/dashboard" class="btn btn-danger mb-1" type="Reset">Cancel</a>
        </div>
    </form>

{% endblock content %}